@import "tailwindcss/base";

/* Write your own custom base styles here */

/* Start purging... */

html ,
body {
    padding: 0;
    margin: 0;
    font-family: 'Shippori Mincho B1', serif;
    line-height: 1.6;
    font-size: 18px;
    max-width: 100%;
    background-color: rgba(147, 193, 253, 1);
    /* text-blue-300 */
}

* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin-left: 10px;
}
ul li a{
    display: block;
    padding: 0.5rem;
}

a {
    color: #000000;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";
