@import "tailwindcss/base";

/* Write your own custom base styles here */

/* Start purging... */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    max-width: 100%;
    background-color:rgba(250, 180 ,26, 0.2);
}

* {
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";
