@import "tailwindcss/base";

/* Write your own custom base styles here */

/* Start purging... */

html ,
body {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 2.0;
    font-size: 18px;
    max-width: 100%;
    /* 木目調のCSS */
    background:
    linear-gradient(
      90deg,
      rgba(208, 147, 82, 0.6),
      rgba(192, 134, 70, 0.6) 60%,
      rgba(208, 147, 82, 0.6)
    ),
    repeating-radial-gradient(
      ellipse at 60% 500%,
      #c08646,
      #c08646 0.2%,
      #d09352 0.6%,
      #d09352 1%
    );
}

* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin-left: 10px;
}
ul li a{
    display: block;
    padding: 0.5rem;
}

a {
    color: #000000;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

header {
    background-image: url("../public/images/components/macbook1697_TP_V.jpg");
    width: 100%;
    height: 30vh;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";
