.markdown {
    @apply text-lg leading-7 text-gray-600;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }
  
  .markdown h2 {
    @apply text-3xl my-12 mb-4 leading-snug border-solid border-0 border-b-4 border-blue-600;
  }
  
  .markdown h3 {
    @apply text-2xl my-8 mb-4 leading-snug border-solid border-0 border-b-4 border-blue-600;
  }

  .markdown h4 {
    @apply text-xl my-4 mb-4 leading-snug border-solid border-0 border-b-2 border-blue-600;
  }

  .markdown red {
    @apply text-red-500
  }
  .markdown blue {
    @apply text-blue-500
  }
  .markdown a {
    @apply text-green-600
  }

  .markdown ul {
    margin-left: 0;
    padding-left: 0;
  }
  .markdown ul li {
    padding-left: 0;
  }

  .markdown code {
    background-color: rgba(255, 176, 176, 0.698);
    padding: 1px 4px;
  }