.markdown {
    @apply text-lg leading-relaxed;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }
  
  .markdown h2 {
    @apply text-3xl mt-12 mb-4 leading-snug border-solid border-0 border-b-2 border-red-600;
  }
  
  .markdown h3 {
    @apply text-2xl mt-8 mb-4 leading-snug border-solid border-0 border-b-2 border-red-400;
  }

  .markdown h4 {
    @apply text-xl mt-4 mb-4 leading-snug  border-solid border-0 border-b-2 border-red-300;
  }

  .markdown red {
    @apply text-red-500
  }
  .markdown a {
    @apply text-green-600
  }

  .markdown ul {
    margin-left: 0;
    padding-left: 0;
  }
  .markdown ul li {
    padding-left: 0;
  }